<h1><strong>Book </strong><%= @experience.title %></h1>
<br>
<%= simple_form_for [@experience, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Book experience" %>
<% end %>
