<h1>LXperiences</h1>
<p>The app to discover the most fun part of Lisbon and regions</p>


  <% @experiences.each do |experience|%>
    <ul>
      <li><strong>Title: </strong><%= experience.title %></li>
      <li><strong>Description: </strong><%= experience.description %></li>
      <li><strong>Location: </strong><%= experience.location %></li>
      <li><strong>Price: </strong><%= experience.price %></li>
      <br>
    </ul>
  <% end %>


<%#= render "experiences/list", experiences: @experiences %>

<%= link_to "New experience", new_experience_path %>
