<div class='page-top-margin'>
  <h3>Experience the best of Lisbon and region</h3>

  <div class="cards">
    <% @experiences.each do |experience|%>

    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><strong><%= link_to experience.title, experience_path(experience) %></strong></h2>
        <p><%= experience.location %></p>
        <p><%= experience.price %> eur</p>
      </div>
    </div>
    <% end %>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
